{% extends "base2.html" %}
{% load static %}



 
{% block content %}

{% if messages %}
    <div class="w-4/6 mx-auto">
      <ul class="messages bg-[#7277ab] text-2xl text-white border border-gray-300 p-4 my-4 rounded-md flex justify-center items-center">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<section>
    <div class="px-4 py-12 mx-auto max-w-7xl ">
      <a href="{% url "indexPage" %}" title="Kutty Home Page" class="flex items-center justify-start sm:justify-center">
     <img src="{% static "img/neos.png" %}" alt="" class="h-48 mr-5" >
      </a>
      <div
        class="w-full px-0 pt-5 pb-6 mx-auto mt-4 mb-0 space-y-4 bg-transparent border-0 border-gray-200 rounded-lg bg-white md:border sm:w-10/12 md:w-8/12 lg:w-6/12 xl:w-4/12 md:px-6 sm:mt-8 sm:mb-5">
        <h1 class="mb-5 text-xl font-light  text-black text-center">Hesabınıza giriş yapın</h1>
  

        <form method="POST" class="pb-1 space-y-4" >
          {% csrf_token %}
          {{ form.email }}
          {{ form.password }}
          
          <div class="flex items-center justify-between">
              <label class="ml-4 flex items-center">
                  <input type="checkbox">
                  <span class="block ml-2 text-xs font-medium text-gray-700 cursor-pointer">Beni Hatırla</span>
              </label>
      
              <input type="submit" value="Giris Yap" class="mr-4 cursor-pointer transition-all bg-mavi text-white px-6 py-2 rounded-lg
                  border-pembe
                  border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
                  active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">
          </div>
      </form>
      </div>
      <p class="mb-4 space-y-2 text-sm text-left text-gray-600 sm:text-center sm:space-y-0">
        <a href="{% url "forgetpass" %}" class="w-full btn btn-sm btn-link sm:w-auto">Şifremi unuttum </a>



        <a href="{% url "register" %}" class="w-full btn btn-sm btn-link text-white hover:text-pembe sm:w-auto">Hesap oluştur</a>
      </p>
    </div>
  </section>
  {% endblock content %}
