{% extends "base2.html" %}
{% load static %}



 
{% block content %}

{% if messages %}
    <div class="w-4/6 mx-auto">
      <ul class="messages bg-[#7277ab] text-2xl text-white border border-gray-300 p-4 my-4 rounded-md flex justify-center items-center">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<section class="bg-lacivert">
    <div class="px-4  mx-auto max-w-7xl">
      <a href="{% url "indexPage" %}" title="Kutty Home Page" class="flex items-center justify-start sm:justify-center">
        <img src="{% static "img/neos.png" %}" alt="" class="h-48 mr-5">
      </a>
      <div
        class="w-full px-0 pt-5 pb-6 mx-auto mt-4 mb-0 space-y-4 bg-transparent border-0 border-gray-200 rounded-lg bg-white md:border sm:w-10/12 md:w-8/12 lg:w-6/12 xl:w-4/12 md:px-6 sm:mt-8 sm:mb-5">
        <h1 class="mb-5 text-xl font-light  text-black text-center">Kayıt Ol</h1>
        <form class="pb-1 space-y-4"
        method="POST">

        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% for field in form %}
        <div class="mb-4">
            {{ field.errors }}
            {% if field.name == 'is_teacher' %}
                {{ form.is_teacher.label_tag }}
            {% endif %}
            {{ field }}
            {% if field.help_text %}
                <small class="text-gray-500">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}
        <button class="mr-4 cursor-pointer transition-all bg-mavi text-white px-6 py-2 rounded-lg
        border-pembe
        border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
        active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">Kayıt Ol</button>
            
          </div>
          
        </form>
      </div>
      <p class="my-0 text-sm font-medium text-center text-gray-500 sm:my-5">
        Zaten hesabınız var mı? 
        <a href="{% url "login" %}" class="text-white hover:text-pembe">Giriş Yap</a>
      </p>
    </div>
  </section>
{% endblock content %}